.htmlcard-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  transition: all 0.15s ease-in-out;
}
.html-card{

  border: radius 4px;

}

.html-card:hover {

  box-shadow: 8px 7px 17px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);

}
  .front{
    display:block;

  }

  .back{
    display:none;
    position: absolute;
    top:0;
    left:0; 
  }
  .content-card:hover .front{
    display: none;
  }

  .content-card:hover .back{
    display: block;
  }



  .htmlcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;

 }

/*****cards***/
.intro-html{
  width: 500px; ;
  height:250px;
}

.hide{
  display:none;
}

.show{
  background-color: blueviolet;
}

.html2-intro{
position: absolute;
top: 20px;
left:15px;

}

.html-intro{
  position: absolute;
  top: 200px;
  right:10px;
}

.play-quiz{
background-color: green;
}