* {

   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   border: none;


}

body {

   background-color: whitesmoke;
   padding-top: 70px;
}


.container {
   padding: 18px;
   margin: 0px auto;
   max-width: 1300px;

}