* {

   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   border: none;


}

body {

   background-color: whitesmoke;
   padding-top: 70px;
}

img {

   width: 100%;
   object-fit: contain;

}

.container {
   padding: 24px;
   margin: 0px auto;
   max-width: 1300px;

}






html {
   scroll-behavior: auto;
}




@keyframes scrollingAnimo {

   0% {
      transform: translateY(-50px);
      opacity: 0;

   }

   50% {
      opacity: 0.2;

   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}



.fade-In-SectionS {
   animation: scrollingAnimo 1s ease-in-out;
   transition: all 1s ease-in-out;
}

.btn-join-us {

   animation: scrollingAnimo 2s ease-in-out;

}