/*** home ****/

#home {

  background-color: rgb(34, 46, 34);
  background-position: center;
  background-repeat: repeat-x;

}

#home .container {

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3%;
  align-items: start;
  color: whitesmoke;
}

.btn-join-us {

  width: 12rem;
  height: 2.8rem;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  transition: 0.15s ease-in-out;
  font-size: 1.5rem;

}

.btn-join-us a {


  color: black;
}

.btn-join-us:hover {

  opacity: 0.8;
}


.laptop-image-container {

  width: 90%;

}



/**** About us *******/

#about .container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3%;
}

.team-member {
  display: flex;
  align-items: center;
  gap: 3px;
  line-height: 1.6rem;

}

.team-member-image {

  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: blueviolet;

}

.team-member-image img {

  object-position: center;
}

.team-member-text {
  padding-left: 5px;
  font-size: 16px;
}

.team-member-name {
  font-weight: bold;
}

.team-member-title {
  font-weight: lighter;
}

.read-more-txt {

  color: blue;
}

.about-us h2, h1 {

  margin: 15px 0px;
  text-align: left;

}

/**** mission and version*******/

.mission-version .container {

  display: flex;
  gap: 3%;
}

.mission-version-image {

  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}

.mission-version-text {

  display: flex;
  flex-direction: column;
  gap:12%;

}




/**** forms *******/
.create-account {
  font-size: 24px;
  text-align: center;
}

#signup-form {
  max-width: 25rem;
  margin: auto;
  background-color: rgb(32, 47, 32);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#signup-form div {

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
}

#signup-form fieldset {

  border: solid 1px;
  padding: 5px;
  border-radius: 2px;
}

#signup-form input, select {

  height: 2.5rem;
  border-radius: 3px;
  border: none;
  padding-left: 4px;

}

.SELECTED {

  color: rgb(206, 204, 204);

}


#signup-form button {

  width: 100%;
  height: 2.5rem;
  background-color: whitesmoke;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 3px;
  transition: 0.15s ease-in-out;

}

#signup-form button:hover {

  opacity: 0.8;

}

#signup-form label {

  margin-top: 10px;
}

#signup-form input, select, button {


  margin-bottom: 10px;
}

/**** Events *******/


.cards-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  transition: all 0.15s ease-in-out;
}

.events-title {

  margin: 10px;
  font-size: 30px;
  font-weight: 900;
  color: rgb(7, 54, 14);

}

.card {

  background-color: rgb(255, 255, 255);
  width: 23rem;
  font-size: 1.1rem;
  overflow: hidden;
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 10px;
  color: rgb(56, 56, 121);
  box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.1);
  margin: 2px auto;
  margin-bottom: 10px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  line-height: 1.8rem;

}

.card:hover {

  box-shadow: 8px 7px 17px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);

}

.card-image {
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
}



.card-title {
  background-color: rgb(51, 72, 35);
  width: 26%;
  height: 25px;
  align-content: center;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: whitesmoke;
}

.company {

  font-weight: 100;
}

.start-date {

  font-weight: 300;
}





/***** Responsiveness  ***/

@media screen and (max-width :900px) {
  .card {

    background-color: rgb(255, 255, 255);
    width: 16rem;
    line-height: 1.1rem;


  }



  .cards-container {

    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  #about .container {

    grid-template-columns: 1fr;
    align-items: start;
    justify-items: left;
    gap: 3%;
  }

  .team-member {
    display: flex;
    gap: 4%;
    align-items: center;
    border: 1px solid green;
    border-radius: 3px;
    margin-top: 10px;
    background-color: white;
    width: 12rem;


  }

  .team-pictures {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 3rem;


  }

  .mission-version-image {

    display: none;
  }

}

@media screen and (max-width :600px) {


  #home .container {

    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
    align-items: start;
    color: whitesmoke;
  }

  #about .container {

    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
  }

  .team-member {
    display: flex;
    gap: 4.4%;
    align-items: center;

    border: 1px solid green;
    border-radius: 2px;
    margin-top: 10px;
    background-color: white;



  }


  .team-member-text {
    padding-left: 4px;

  }

  .team-pictures {

    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
    margin-bottom: 3rem;


  }

  .cards-container {

    grid-template-columns: 1fr;
    gap: 8px;
  }

  footer .container {

    grid-template-columns: 1fr 1fr;
  }

}