/*styling the body of the code which means that everything I do here affect the whole code*/
.book-head {
    display: flex;
    justify-content: center;
}

.Book_session{
    display: flex;
    justify-content: center;
    color:rgb(7, 54, 14);
    font-size: 30px;
    font-weight: bolder;
    margin-top:105px;
    
}
.tagline3{
}

/*styiling the paraph under this nameclass*/
.Booktagline{
    width: 500px;
    margin-bottom:15PX;
}

.Booktagline2{
    margin-bottom:20PX;
}

.Booktagline3{
    line-height:0px ;
    display: inline;
   
    }

.Booktagline4 {
margin-top: 15PX;

}
.Book---Section{
display: flex;
margin-top: 20px;
margin-right: 30px;
}
/* styling everything that falls under this element */
#book-us{
    margin-bottom: 50px;
    display: flex;    /*Controls the direction in which flex items are placed in the flex container. */
    flex-direction: column;  /*pecifies the direction in which flex items are placed in the flex container*/
    align-items: center;
    justify-content: center;  /* responsible for aligning everything in center*/
    padding: 20px;      /*space betw the content */

}

/*styiling everything that has to do with this class*/
.Background-image{
    position: absolute ;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    z-index:-1;    /*Elements with a negative z-index can appear behind other elements with a z-index of 0 or higher.*/
    background-size: cover;   /*scale a background image so that it covers the entire area of the element*/
}


.FormLabels{
    
        margin-bottom: 10px;
      display:flex;
      flex-direction: row;
      gap: 10px;
       margin-right: 10px;
       align-items: 10px;
       color: rgb(4, 71, 4);
}
.FormContainer{
border: solid 1.5px rgb(1, 20, 1);
padding: 20px;
margin-left: 45px;

}
    input{
        padding: 20px;
        margin-bottom: 20px;
        width: 200px;
        height: 16px;
        padding: 10px;
        font-size: 16px;
        border-radius: 30px;
        border: none;
        border-color: darkgreen;

    }

    #Fname{
        margin-left: 20px;
    }
#Ëmail{
    margin-left: 50px; 
}
#Duration{
    margin-left: 35px;
}
#Description{
    margin-left:18px;
}

.tagline{
    float:right;
}

/*styling the button*/
.btn{
    border-radius: 10px;  /* responsible for making the border coners no to have square shape*/
    font-size: 200;
    font-weight: 330px;
    padding: 15px 10px 15px 10px;
    background-color: darkgreen;
    COLOR: WHITE;
    width: 115PX;
    margin:30PX;
    margin-left:115PX;
}

      

   
    

