
body{
    background: #1a3c35;
    color: aliceblue;
  
    

}

.login button{
  
    background-color: rgb(253, 255, 255);
    color: rgb(19, 63, 45);
    cursor: pointer;
    border-radius: 8px;
    width: 170px;
    margin: 6%;
    
}


.login{

   margin-left: 14rem;
    padding: 9px;
  

}

@media screen and (max-width:500px){ 


    .login{

        margin-left: 0;
         padding: 9px;
       
     
     }
    
}

@media screen and (max-width:800px){ 


    .login{

        margin-left: 7rem;
         padding: 9px;
       
     
     }
    
}

.login input{
    background-color: aliceblue;
    width:10rem;
    height: 16px;
  display: block;
}
.About{
    background-color: rgb(247, 247, 247);
    color: rgb(11, 54, 38); 
    display: flex;


}
.profilepicture{
    width: 100px;
    overflow: hidden;
    border-radius: 50px;
}
.profilepicture img{
width: 100% ;
object-fit: contain;
}

